<!--
  Generated template for the GestionAnuncioPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Modificar anuncio</ion-title>
    </ion-navbar>

</ion-header>


<ion-content padding>
    <p>Anuncio</p>
    <ion-label *ngIf="anuncio">Asignatura a estudiar: </ion-label>
    <ion-input *ngIf="anuncio" value="anuncio.primarySubject" [(ngModel)]="anuncio.primarySubject"></ion-input>
    <ion-label *ngIf="anuncio">Asignatura conocida: </ion-label>
    <ion-input *ngIf="anuncio" value="anuncio.secondarySubject" [(ngModel)]="anuncio.secondarySubject"></ion-input>
    <ion-label *ngIf="anuncio">Nombre: </ion-label>
    <ion-input *ngIf="anuncio" value="anuncio.name" [(ngModel)]="anuncio.name"></ion-input>
    <ion-label *ngIf="anuncio">Hora: </ion-label>
    <ion-input *ngIf="anuncio" value="anuncio.time" [(ngModel)]="anuncio.time"></ion-input>
    <button (click)="updateAnuncios()">Modificar anuncio</button>
    <button (click)="removeAnuncios()">Borrar anuncio</button>
  </ion-content>
